In [54]:
# Persiapan membuat data
import pandas as pd
import random
import matplotlib as plt

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis-kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai)
df.head()

   siswa_id pelajaran  nilai jenis-kelamin kelas
0         1   Biologi     76     laki-laki   12A
1         2   Biologi     71     laki-laki   12A
2         3     Kimia     57     perempuan   12C
3         4    Fisika     29     perempuan   12C
4         5   Biologi     72     perempuan   12D

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

In [67]:
# 1. Indexing kolom nilai dan kelas
display(df.loc[:, ['nilai', 'kelas']])

# 2. Indexing row 5 sampai 10
display(df.iloc[5:11])

    nilai kelas
0      76   12A
1      71   12A
2      57   12C
3      29   12C
4      72   12D
5      49   12A
6       4   12C
7      30   12A
8       0   12C
9      55   12A
10     24   12C
11     30   12C
12     85   12A
13     61   12C
14     18   12D
15     86   12A
16     35   12B
17     74   12C
18     30   12A
19     80   12D

    siswa_id   pelajaran  nilai jenis-kelamin kelas  Normalized
5          6  Matematika     49     perempuan   12A    0.569767
6          7       Kimia      4     laki-laki   12C    0.046512
7          8     Ekonomi     30     perempuan   12A    0.348837
8          9     Biologi      0     laki-laki   12C    0.000000
9         10      Fisika     55     laki-laki   12A    0.639535
10        11      Fisika     24     laki-laki   12C    0.279070

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia 
3. Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C

In [61]:
# 1. Filtering data siswa pada mata pelajaran Ekonomi dan Fisika

selection_1 = df[(df.iloc[:,1] == 'Ekonomi') | (df.iloc[:,1] == 'Fisika')]
selection_1

    siswa_id pelajaran  nilai jenis-kelamin kelas
3          4    Fisika     29     perempuan   12C
7          8   Ekonomi     30     perempuan   12A
9         10    Fisika     55     laki-laki   12A
10        11    Fisika     24     laki-laki   12C
12        13    Fisika     85     laki-laki   12A
15        16   Ekonomi     86     perempuan   12A
17        18    Fisika     74     perempuan   12C
18        19   Ekonomi     30     laki-laki   12A

In [57]:
# 2. Filtering data siswa yang memiliki nilai lebih dari 50 pada mata pelajaran Kimia

selection_2 = df[(df.iloc[:,2] > 50) & (df.iloc[:, 1] == 'Kimia')]
selection_2

    siswa_id pelajaran  nilai jenis-kelamin kelas
2          3     Kimia     57     perempuan   12C
19        20     Kimia     80     perempuan   12D

In [58]:
# 3. Filtering data siswa dengan nilai > 70, perempuan di kelas 12C

selection_3 = (df[(df.iloc[:,2] > 70) & (df.iloc[:,3]=='perempuan') & (df.iloc[:,4]=='12C')])
selection_3

    siswa_id pelajaran  nilai jenis-kelamin kelas
17        18    Fisika     74     perempuan   12C

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [66]:
def standard(x):
    return (x - x.min()) / (x.max() - x.min())

df['Normalized'] = df[['nilai']].apply(standard)
df

    siswa_id   pelajaran  nilai jenis-kelamin kelas  Normalized
0          1     Biologi     76     laki-laki   12A    0.883721
1          2     Biologi     71     laki-laki   12A    0.825581
2          3       Kimia     57     perempuan   12C    0.662791
3          4      Fisika     29     perempuan   12C    0.337209
4          5     Biologi     72     perempuan   12D    0.837209
5          6  Matematika     49     perempuan   12A    0.569767
6          7       Kimia      4     laki-laki   12C    0.046512
7          8     Ekonomi     30     perempuan   12A    0.348837
8          9     Biologi      0     laki-laki   12C    0.000000
9         10      Fisika     55     laki-laki   12A    0.639535
10        11      Fisika     24     laki-laki   12C    0.279070
11        12     Geologi     30     perempuan   12C    0.348837
12        13      Fisika     85     laki-laki   12A    0.988372
13        14     Geologi     61     laki-laki   12C    0.709302
14        15       Kimia     18     laki-laki   12D    0.209302
15        16     Ekonomi     86     perempuan   12A    1.000000
16        17  Matematika     35     laki-laki   12B    0.406977
17        18      Fisika     74     perempuan   12C    0.860465
18        19     Ekonomi     30     laki-laki   12A    0.348837
19        20       Kimia     80     perempuan   12D    0.930233